        /********
        /***
        /**
        /* Estilos generales */

        h1, h2, h3, h4, h5, h6, p, span, strong, a,
         button, label{
            font-family: sans-serif;
            color: black;
        }
        html, body, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        hr {
            border-color: rgb(20, 162, 250);
        }
        button {
            background-color: transparent;
            border: 1px solid rgb(20, 162, 250);
            border-radius: 5px;
            font-size: 15px;
        }
        .bg1 {
            background: rgb(255, 255, 255);
        }
        .contenedor {
            width: 1100px;
            margin: 0 auto;
        }

        /********
        /***
        /**
        /* Estilos para navegación */

        #navegacion-top .wrap {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 70px;
        }
        nav ul {
        display:flex;
       }

       nav ul li {
        display:flex;
       }

       nav ul li a{
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 28px;
        }

       nav ul li a:hover {
        color: rgb(20, 162, 250);
        }

       #logo img {
        width: 50px;
        height: 50px;
        display: block;
       }
        /********
        /***
        /**
        /* Estilos header */

       header {
        background-image: url("bg-header.jpg");
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        padding-top: 50px;
        padding-bottom: 50px;
       }
       .info-header{
        width: 650px;
        text-align: center;
       }
        #boton-header {
        padding: 10px 30px;
        font-size: 18px;
       }

       /********
       /***
       /**
       /* Estilos para sección pasos */

        .encabezado {
            padding:60px 0;
            text-align: center;
        }
        .cajapasos {
            width: 33.3333333%;
            text-align: center;
            padding: 0 20px;
        }
        .cajapasos img {
            margin-bottom: 15px;
            width: 150px;
        }
        .cajapasos h5 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .cajapasos h5:hover {
            font-size: 22px;
            text-shadow: 1px 2px 3px rgb(192, 186, 186);
        }
        .c1 {
            color: rgb(46, 58, 82);
        }
        .c2  {
            color: rgb(153, 153, 153);
        }

        /********
        /***
        /**
        /* Estilos para sección galería */

        .caja-galeria {
            width: 33.3333333%;
            padding: 0 10px;
        }
        .caja-galeria img {
           width: 100%;
           display: block;
        }
        .caja-galeria img:hover {
            opacity: 0.6;
          }
        .fila{
            display: flex;
            margin-bottom: 20px;
        }

        /********
        /***
        /**
        /* Estilos para formulario */

        #formulario {
            background-image: url("bg-stay.jpg");
            height: 500px;
            padding: 50px;
            background-size: cover;
        }
        #formulario #estructura-form {
            align-items: center;
            justify-content: space-between;
            display: flex;
            padding: 10px;
        }
        #formulario #form {
            text-align: justify;
            padding-bottom: 100px;
        }
        #formulario #contacto {
            max-width: 600px;
            padding: 10px 100px;
        }
        .check {
            width: 70%;
        }
        .form-input {
            width: 100%;
            padding: 18px;
            background-color: transparent;
            border: 1px solid rgb(179, 177, 177);
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .form-input:hover {
            box-shadow: 0 0 5px gray;
          }
        #subs {
           accent-color: rgb(20, 162, 250);
        }
        #boton-enviar {
            padding: 3px 55px;
            font-size: 13px;
        }

        /********
        /***
        /**
        /* Estilos para el footer */

        #footer {
            display: flex;
            align-items: center;
        }
        .redes-sociales {
            width: 40%;
            text-align: right;
        }
